{% extends "wrapper.html" %}
{% block content %}
{% load static %}
{% load format_filters %}
{% include "includes/category_list_component.html" %}

<section class="container">
    <!-- <div class="row"> -->
            <div class="card-deck justify-content-center">
                {% for product in products%}
                <!-- <div class="col-12 col-md-4 col-lg-4 mt-4"> -->
                    <div class="card card-product p-0">
                        <!-- <a class="card m-0" href="{% url 'products:product_n' product.id %}"> -->
                            <div class="for-zoom show-product-text-description">
                                {% for item in product.productimage_set.all%}
                                <img class="card-img-top img-zoom" src="{{ item.image.url }}" alt="">
                                {% endfor %}
                            </div>
                            <div type="" class="btn-properties btn-light">Состав ...</div>
                            <div class="product-text-description">{{ product.description }}</div>

                            <div class="card-body px-2">
                                <h5 class="card-title text-center card-title-custom m-0">{{ product.name }}</h5>
                            </div>
                        <!-- </a> -->
                            <div class="card-footer p-0">
                                <form class="formBuyProduct bg-white text-center" action="{% url 'orders:basket_adding' %}">{% csrf_token %}
                                    <div class="row justify-content-around text-nowrap">
                                        <div class="col-3 p-2">
                                            <div class="card__info">
                                                {% if product.volume_type == 'л.' %}
                                                {{ product.weight|grammtolitr }}
                                                {% else %}{{ product.weight }} {%endif%}
                                                 {{ product.volume_type }}</div>
                                            <div property="price" class="card__price">{{ product.price }} руб.</div>
                                        </div>
                                        <div class="col-5 p-2">
                                            <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                            <input type="number" class="inBuyProduct form-control" placeholder="Шт." min="0" max="99" value="1" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="inBuyBtn btn btn-form flex-wrap my-2" data-product_id="{{ product.id }}" data-product_name="{{ product.name }}"
                                    data-product_price="{{ product.price }}">
                                    В корзину.
                                    </button>
                                </form>
                            </div>
                    </div>
                <!-- </div> -->
                {% endfor %}
            </div>
    <!-- </div> -->
</section>

<!--
<h1 class="text-center">
    {{ product.name }}
</h1>
<div class="">
    <p>
        Price: {{ product.price }}
    </p>
</div>
<div class="">
    {{ product.description }}
</div>


 -->


<!--

<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>
<div class="cards-container">
    <h1><span style="color: #8fc73e">{{ product.name }}</span></h1>
    <p>
        <img class="alignnone size-full wp-image-2457" src="http://sweetgrass.grto.ru/wp-content/uploads/sites/17/2016/09/line.png" alt="line" width="53" height="3">
    </p>
    <h4 class="text-center mt-3"></h4>
    <div class="card-deck">
    </div>
</div> -->
{% endblock content %}
