{% load static %}
{% block footer %}
<footer class="footer container-fluid px-0 mt-3" >
    <!-- <div class="position-relative"> -->
        <!-- <div class="container"> -->
            <div class="row justify-content-around flex-wrap flex-md-nowrap p-3">
                <div class="p-3 flex-sm-grow-1">
                <!-- <div class="col-12 col-sm-3 mt-3 mt-md-0"> -->
                    <h4 class="text-light text-nowrap">D O H A I C H</h4>
                    <p class="">Кафе кавказской кухни с доставкой блюд до двери Вашего дома.</p>
                    <p>Вы можете посетить наше кафе грузинской здоровой еды <a href="http://dohaich.ru/contacts/">ЗДЕСЬ!</a>.</p>
                </div>
                <div class="p-3 flex-grow-1 position-relative">
                    <!-- <img src="{% static 'img/dishes.png' %}" alt="" class="img-fluid footer-logo"> -->

                <!-- <div class="col-12 col-sm-4"> -->
                {% include "includes/footer-form.html" %}
                </div>
                <div class="p-3 my-xs-4">
                <!-- <div class="col-12 col-sm-3 mt-3 mt-md-0"> -->
                    <table class="p-3">
                       <tr>
                         <td><i class="fas fa-envelope"></i></td>
                         <td class="pl-3 text-light text-nowrap"><a href="mailto:info@doxaih.ru?subject=feedback">info@doxaih.ru</a></td>
                       </tr>
                       <tr>
                         <td><i class="fas fa-phone fa-flip-horizontal"></i></td>
                         <td class="pl-3 text-light text-nowrap">{{ number_phone }}</td>
                       </tr>
                    </table>
                    <p class="">Здесь можно купить еду грузинской кухни с доставкой по Балашихе.<br>У нас быстро приготовят вкусную еду с бесплатной доставкой до двери вашего дома.</p>
                </div>
            </div>
            <div class="row flex-column pb-5 d-none">
                <p class="text-center">Следите за нами в соц.сетях</p>
                <div class="social d-flex flex-row justify-content-center align-content-center">
                    <a href="https://vk.com/public177248775">
                        <img src="{% static 'img/vk-icon.png' %}" alt="" class="">
                    </a>
                    <span class="mx-3 mx-md-1"> </span>
                    <a href="https://instagram.com/likwidclub">
                        <img src="{% static 'img/insta_icon.png' %}" alt="" class="">
                    </a>
                    <span class="mx-3 mx-md-1"> </span>
                    <a href="https://m.facebook.com/Likwid-Club">
                        <img src="{% static 'img/facebook-icon.png' %}" alt="" class="">
                    </a>
                </div>
            </div>
    	{#	{% include "includes/login_bar.html" %}  #}
        <!-- </div> -->
    <!-- </div> -->
</footer>
{% endblock footer %}
