{% block header %}
{% load static %}
<nav class="navbar navbar-expand-md bg-menu p-1 text-light fixed-top">
    <div class="navbar-brand text-nowrap m-0 p-1">
        <img class="" src="{% static 'img/dishes2.png' %}" alt="">
    </div>
    <div class="text-logo p-1 ml-md-3 d-none d-sm-block">
        <div>Кафе</div>
        <div>Хинкальная</div>
        <div>г. Балашиха</div>
    </div>
    <button class="navbar-toggler border-0 order-5" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-img show"></span>
        <span class="navbar-toggler-close"></span>
    </button>

    <div class="collapse navbar-collapse order-6 order-md-3" id="navbarCollapse">
        <nav id="main_nav" class="w-100">
            <form class="formsfor invisible" action="{% url 'orders:basket_adding' %}" method="">
                {% csrf_token %}
            </form>
            <ul class="nav justify-content-center flex-column flex-md-row">
                <li class="nav-item  {% if request.path == '/' %} active{% endif %}">
                    <a class="nav-link" href="/">Меню</a>
                </li>
                <li class="nav-item {% if request.path == '/aboutus/' %} active{% endif %}">
                    <a class="nav-link text-nowrap" href="/aboutus">Доставка</a>
                </li>
                <li class="nav-item {% if '/contacts/' in request.path %} active{% endif %}">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
                <li class="text-white py-3 px-5 d-md-none">
                    <i class="fas fa-phone fa-flip-horizontal"></i>
                    <span>+7 (499) 110-0230</span>
                </li>
                <li class="px-5 d-md-none">
                    <button type="button" onclick="location.href='#id_form_footer';" class="btn btn-form px-3 px-sm-5 mb-4">Заказать звонок</button>
                </li>
                <li class="nav-item dropdown">

                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-phone text-right text-nowrap order-md-4">
        <a class="d-block" href="tel:+7 (499) 254-11-03"><i class="fas fa-phone fa-flip-horizontal fa-fw"></i><span class="d-none d-md-inline">+7 (499) 254-11-03</span></a>
        <div class="d-none d-md-block">Приём заказов с 09:00 до 20:30</div>
    </div>
    <div class="order-md-5 position-relative mx-2 p-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="cartDropdown">
        <img src="{% static 'img/dish.png' %}" class="img-fluid cart-dish" alt="">
        <span id="basket_total_nmb">{{ products_total_nmb }}</span>
    </div>
    <div class="dropdown-menu bg-menu text-nowrap mx-2 mx-md-0 text-light p-0 border-0 text-center" aria-labelledby="cartDropdown">
            <table id="table-basket" class="table tables table-hover m-0">
                <tbody >
                    {% for item in products_in_basket %}
                    <tr>
                        <td class="text-wrap text-left">{{ item.pb_product }}</td>
                        <td>{{ item.pb_qty }} шт.</td>
                        <td>по {{ item.pb_price_per_item|floatformat:0 }} руб.</td>
                        <td><a class="delete-item" href="{% url 'orders:basket_adding' %}" data-product_id="{{ item.id }}">X</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div type="button" class="create-order submit-btn btn btn-form m-2 {% if products_total_nmb == 0 %}d-no{% endif%}">Оформить заказ</div>
    </div>
</nav>

{% endblock header %}
