{% block header %}
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-menu p-1 text-light">
        <div class="navbar-brand text-nowrap m-0 p-1">
            <img class="" src="{% static 'img/dishes2.png' %}" alt="">
        </div>
        <div class="text-logo p-1 ml-md-3">
            <div>Кафе</div>
            <div>Хинкальная</div>
            <div>г. Балашиха</div>
        </div>
    <!-- <aside class="reqest-get animation-active order-md-3 ml-auto">
          <img src="{% static 'img/phone_but.png' %}" alt="" class="reqest-get_title create-callme img-fluid">

        <section id="first_me" class="reqest-modul reqest-modul_request js-callback-request" style="display: none;">
            <div id="close_me1" class="reqest-modul_close-button js-reqest-modul-close"></div>
        </section>
    </aside> -->

    <button class="navbar-toggler border-0 order-5" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-img show"></span>
        <span class="navbar-toggler-close"></span>
    </button>
    <div class="collapse navbar-collapse order-6 order-md-3" id="navbarCollapse">
        <nav id="main_nav" class="w-100">
            <ul class="nav justify-content-center flex-column flex-md-row">
                <li class="nav-item  {% if request.path == '/' %} active{% endif %}">
                    <a class="nav-link" href="/">Меню</a>
                </li>
                <li class="nav-item {% if request.path == '/aboutus/' %} active{% endif %}">
                    <a class="nav-link text-nowrap" href="/aboutus">Доставка</a>
                </li>
                <li class="nav-item {% if '/educations/' in request.path %} active{% endif %}">
                    <a class="nav-link" href="/educations">Кафе</a>
                </li>
                <li class="nav-item {% if '/educations/' in request.path %} active{% endif %}">
                    <a class="nav-link" href="/educations">Контакты</a>
                </li>
                <li class="text-white py-3 px-5 d-md-none">
                    <i class="fas fa-phone fa-flip-horizontal"></i>
                    <span>+7 (499) 110-0230</span>
                </li>
                <li class="px-5 d-md-none">
                    <button type="button" onclick="location.href='#id_form_footer';" class="btn btn-form px-3 px-sm-5 mb-4">Заказать звонок</button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="nav-phone text-right text-nowrap order-md-4">
        <a class="d-block" href="tel:+7 (499) 254-11-03"><i class="fas fa-phone fa-flip-horizontal fa-fw"></i><span class="d-none d-md-inline">+7 (499) 254-11-03</span></a>
        <div class="d-none d-md-block">Приём заказов с 09:00 до 20:30</div>
    </div>
    <a class="order-md-5" href="/cart/" role="button">
        <img src="{% static 'img/dish.png' %}" class="img-fluid cart-dish mx-md-3" alt="">
    </a>
</nav>

{% endblock header %}
