
    <!DOCTYPE html>
    <html lang="ru">
        <head>
            <meta charset="utf-8">
            <title>Заказ звонка № call-{{callme_number}}</title>
        </head>
        <body>
            <ul>
                <li>
                    Клиент {{contact_name}} заказал звонок на сайте.
                </li>
                <li>
                	Номер клиента для созвона:{{contact_phone}}.
                </li>
            </ul>
            <p>Скорей звони ему!</p>
        </body>
    </html>
