{% extends "wrapper.html" %}
{% block content %}
{% load static %}


<section class="container">
    <div class="row">
            <div class="card-deck pt-3">
                {% for item in product_image_list %}
                    <div class="col-12 col-md-4 col-lg-3 py-md-4">
                        <a class="card" href="{% url 'products:product_n' item.product.category.id %}">
                            <div class="for-zoom">
                                <img class="card-img-top img-zoom" src="{{ item.image.url }}" alt="">
                            </div>
                            <div class="card-footer px-1">
                                <h3 class="card-title text-center m-0">{{ item.product.category.name }}</h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
    </div>
</section>

{% endblock content %}
